<div ng-if="isAdmin">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center">Acciones ante la búsqueda</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="form-group">
                <select class="form-control">
                    <option>Seleccione una accion</option>
                    <option ng-repeat="accion in acciones">{{accion}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div ng-if="!isAdmin">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center">Acceso denegado</h4>
        </div>
    </div>
</div>