<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Bienvenido!</h3>
        <h4 class="text-center">Por favor, inicie sesión</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <div class="form-group">
            <label for="nombreUsuarioInput">Usuario</label>
            <input type="text" class="form-control" id="nombreUsuarioInput" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="passwordInput">Contraseña</label>
            <input type="password" class="form-control" id="passwordInput" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="validar()">Ingresar</button>
    </div>
</div>